name: Test Build
on:
  workflow_dispatch:

jobs:
  test_build:
    name: Test Build
    runs-on: windows-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          global-json-file: src/global.json
      - name: Build
        shell: pwsh
        run: |
          & ./Build.ps1 -Configuration Release -ExportApi

